<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="edu.eci.pdsw.BancoDeIniciativas.dao.myBatis.mappers.ComentarioMapper">
	
	<select parameterType="map" id="verComentarios" resultMap="ComentarioResult">
		SELECT * from comentario WHERE sugerencias_id = #{idSugerencia};
	</select>

	<resultMap type='Comentario' id='ComentarioResult'>
		<id property='id' column='id' />
		<result property='mensaje' column='mensaje' />
		<result property='fechaCreacion' column='fecha_creacion' />
		<association property='sugerencia' column='sugerencias_id' 
		    javaType='Sugerencia'
		    resultMap='edu.eci.pdsw.BancoDeIniciativas.dao.myBatis.mappers.SugerenciaMapper.SugerenciaResult' />
		<association property='usuario' column='users_correo'
			javaType="Usuario"
			resultMap='edu.eci.pdsw.BancoDeIniciativas.dao.myBatis.mappers.UsuarioMapper.UsuarioResult1' />
	</resultMap>

</mapper>