<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="edu.eci.pdsw.BancoDeIniciativas.dao.myBatis.mappers.SugerenciaMapper">

	<insert parameterType="map" id="agregarSugerencia">
		INSERT INTO
		sugerencias
		(id,mensaje,palabras_clave,users_correo,
		fecha_creacion,fecha_modificacion,titulo,estado)
		Values
		(
		(Select CASE
		WHEN EXISTS(SELECT id FROM sugerencias WHERE id=1) THEN MAX(id)+1
		ELSE
		1
		END
		from
		sugerencias)

		,#{sugerencia.mensaje},#{sugerencia.palabrasClave}
		,#{sugerencia.usuario.correo},#{sugerencia.fechaCreacion}
		,#{sugerencia.fechaModificacion},#{sugerencia.titulo},#{sugerencia.estado});
	</insert>

	<insert parameterType="map" id="darLike">
		INSERT INTO likes(users_correo, sugerencia_id)
		VALUES (#{correo}, #{idSugerencia});
	</insert>
	
	<delete parameterType="map" id="darDislike">
		DELETE FROM likes
		WHERE users_correo = #{correo} AND sugerencia_id = #{idSugerencia};
	</delete>

	<delete parameterType="map" id="eliminarSugerencia">
		DELETE FROM sugerencias WHERE
		id = #{id};
	</delete>

	<select parameterType="map" id="verSugerencia" resultMap="SugerenciaResult">
		SELECT
		* from sugerencias where id=#{id};
	</select>

	<select parameterType="map" id="verSugerenciasUsuario"
		resultMap="SugerenciaResult">
		SELECT * from sugerencias where users_correo=#{correo};
	</select>

	<select parameterType="map" id="searchClave" resultMap="SugerenciaResult">
		select *
		from sugerencias where palabras_clave like
		'%#{clave}%'
	</select>

	<select parameterType="map" id="likesSugerencia"
		resultMap="edu.eci.pdsw.BancoDeIniciativas.dao.myBatis.mappers.UsuarioMapper.UsuarioResult1">
		SELECT * from sugerencias as s JOIN likes on
		s.id = likes.sugerencia_id JOIN users as u
		ON u.correo = likes.users_correo
		WHERE s.id = #{id};
	</select>
	
	<select parameterType="map" id="numeroDeLikes" resultType="int">
		SELECT COUNT(*) FROM likes WHERE sugerencia_id = #{id};
	</select>

	<update parameterType="map" id="actualizarSugerencia">
		UPDATE sugerencias SET
		mensaje=#{mensaje},palabrasClave=#{palabras},
		fecha_modificacion=#{fecha} where id=#{id};
	</update>

	<select parameterType="map" id="verSugerencias" resultMap="SugerenciaResult">
		SELECT * from sugerencias;
	</select>

	<update parameterType="map" id="actualizarEstado">
		UPDATE sugerencias SET
		estado=#{estado} where id=#{id};
	</update>
	<select  id="getnumSugerenciassUsuario" resultMap="sugerenciasResult2">
		SELECT COUNT(*) as totalsugerencias from sugerencias where sugerencias.users_correo=#{id};
	</select>
	<resultMap type='Sugerencia' id='SugerenciaResult'>
		<id property='id' column='id' />
		<result property='mensaje' column='mensaje' />
		<result property='palabrasClave' column='palabras_clave' />
		<result property='fechaCreacion' column='fecha_creacion' />
		<result property='estado' column='estado' />
		<result property='titulo' column='titulo' />
		<!-- <association property='tema' column='tema_id' -->
		<!-- javaType="Tema" -->
		<!-- resultMap='edu.eci.pdsw.BancoDeIniciativas.dao.myBatis.mappers.TemaMapper.TemaResult' 
			/> -->
		<association property='usuario' column='users_correo'
			javaType="Usuario"
			
			resultMap='edu.eci.pdsw.BancoDeIniciativas.dao.myBatis.mappers.UsuarioMapper.UsuarioResult1' />
		<collection property='likes' ofType='Usuario'
			resultMap='edu.eci.pdsw.BancoDeIniciativas.dao.myBatis.mappers.UsuarioMapper.UsuarioResult1'></collection>
	</resultMap>
	<resultMap type="java.lang.Integer" id="sugerenciasResult2"> 
     <result property="" column="totalsugerencias"/> 
</resultMap>
</mapper>