<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

   <typeAliases>
       <typeAlias type='edu.eci.pdsw.BancoDeIniciativas.entities.Usuario' alias='Usuario'/>
       <typeAlias type='edu.eci.pdsw.BancoDeIniciativas.entities.Sugerencia' alias='Sugerencia'/>
       <typeAlias type='edu.eci.pdsw.BancoDeIniciativas.entities.Tema' alias='Tema'/>
   </typeAliases>

   <environments default="test">
       <environment id="test">
           <transactionManager type="JDBC" />
           <dataSource type="POOLED">
               <property name="driver" value="org.h2.Driver" />
               <property name="url" value="jdbc:h2:file:./target/db/testdb;MODE=MYSQL" />
               <property name="username" value="sa" />
               <property name="password" value="" />
           </dataSource>
       </environment>
   </environments>

   <mappers>
       <mapper resource="mappers/UsuarioMapper.xml"></mapper>
       <mapper resource="mappers/SugerenciaMapper.xml"></mapper>
       <mapper resource="mappers/TemaMapper.xml"></mapper>
   </mappers> 

</configuration>